body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    transition: 0.4s;
}


header{
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    color: #6047fb;
    box-shadow: 0 0 6px white;
    transition: 0.5s;
    z-index: 1111;
}

header img{
    width: 90px;
    height: 80px;
    cursor: pointer;
}

header .navLinks{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.6s;
    
}

.navLinks a {
    text-decoration: none;
    color: #397df1;
}


header .navLinks:hover{
    background: #0b2544;
    color: white;
}

main{
    display: flex;
    width: 100%;
    height: 655px;
    background: url("/img/bg.png") no-repeat;
    background-size: 100%;
}

main .mainText{
    margin-top: 30px;
    margin-left: 40px;
    color: white;
}

main .mainText .mainTextTitle{
    font-size: 64px;
    font-weight: 600;
    line-height: .8;
    margin-bottom: 20px;
}

main .mainText .mainTextDesc{
    font-size: 21px;
    margin-bottom: 25px;
}

main .mainText .mainTextButt{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-size: 24px;
    background: white;
    color: #000c24;
}


.mainTextButt a {
    text-decoration: none;
    color: #000c24;
}

.content{
    width: 100%;
    height: 1255px;
    background: #fff;
}

.content .ourCoursesDescription{
    margin: 0 100px;
    padding-top: 20px;
    text-align: center;
}

.content .ourCoursesDescription .ourCoursesDescriptionTitle{
    display: flex;
    justify-content: center;
    color: #000c24;
    font-size: 50px;
    font-weight: 600;
    font-family: Arial;
    margin-bottom: 30px;
}

.content .ourCoursesDescription .ourCoursesDescriptionText{
    font-size: 18px;
    font-weight: 350;
    color: gray;
}

.content .courses{
    margin: 40px 120px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}

.content .courses .course{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    overflow: hidden;
    transition: .4s;
    height: 450px;
}

.content .courses .course img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    border-radius: 50%;
    z-index: 3;
}

.content .courses .course .courseName{
    margin: 10px 0 40px;
    font-size: 24px;
    font-weight: 550;
    font-family: Arial;
    color: #0b2544;
    z-index: 3;
}

.content .courses .course .courseDescription{
    margin: 0 30px 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    color: #aaa7a7;
    z-index: 3;
}

.content .courses .course .button{
    position: relative;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background: rgb(235, 255, 237);
    color: #0b2544;
    cursor: pointer;
    z-index: 3;
}

footer .container {
    background-color: #0b2544;
    font-size: 18px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
    #headr {
        float: none;
        margin: 0 auto;
        display: table;
     }

     .logo {
      float: none;
      margin: 0 auto 15px;
      display: table;
   }

   header img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

header .navLinks {
    padding: 5px 20px 0px;
}

.navLinks a {
    font-size: 12px;
}

   main{
    height: 100%;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

main .mainText{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}

main .mainText .mainTextTitle{
    font-size: 20px;
    font-weight: 500;
    line-height: .8;
    margin-bottom: 15px;
}

main .mainText .mainTextDesc{
    font-size: 12px;
    margin-bottom: 20px;
}

main .mainText .mainTextButt{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-size: 10px;
    background: white;
    color: #000c24;
}

main .mainText .mainTextButt:hover{
    transform: scale(.95);
}

.content{
    width: 100%;
    height: 100%;
    background: #e7e0e0;
}

.content .ourCoursesDescription{
    margin: 0 80px;
    padding-top: 15px;
    text-align: center;
}

.content .ourCoursesDescription .ourCoursesDescriptionTitle{
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    font-family: Arial;
    margin-bottom: 23px;
}

.content .ourCoursesDescription .ourCoursesDescriptionText{
    font-size: 10px;
    font-weight: 300;
    color: gray;
}

.content .courses {
    margin: 40px 40px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.content .courses .course {
    flex-basis: 100%;
    height: 320px;
}

.content .courses .course:hover .circle{
    transform: scale(730);
}

.content .courses .course img{
    width: 40%;
    height: 30%;
    margin-top: 10px;
    border-radius: 50%;
    z-index: 3;
}

.content .courses .course .courseName{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    z-index: 3;
}

.content .courses .course:hover .courseName{
    color: #4828d7;
}

.content .courses .course .courseDescription{
    margin: 15px 0 10px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    color: #aaa7a7;
    z-index: 3;
}

}



@media (min-width: 768px) and (max-width: 1024px) {
    #headr {
        float: none;
        margin: 0 auto 15px;
        display: table;
     }

     .logo {
      float: none;
      margin: 0 auto 15px;
      display: table;
   }

   main{
    height: 100%;
    background-position: center center;
    background-attachment: initial;
    background-size: cover;
}

main .mainText{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}

main .mainText .mainTextTitle{
    font-size: 35px;
    font-weight: 500;
    line-height: .8;
    margin-bottom: 15px;
}

main .mainText .mainTextDesc{
    font-size: 18px;
    margin-bottom: 20px;
}

main .mainText .mainTextButt{
    display: flex;
    margin-top: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
    font-size: 20px;
    background: white;
    color: #000c24;
}

main .mainText .mainTextButt:hover{
    transform: scale(.95);
}

.content{
    width: 100%;
    height: 100%;
    background: #e7e0e0;
}

.content .ourCoursesDescription{
    margin: 0 80px;
    padding-top: 15px;
    text-align: center;
}

.content .ourCoursesDescription .ourCoursesDescriptionTitle{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    font-family: Arial;
    margin-bottom: 23px;
}

.content .ourCoursesDescription .ourCoursesDescriptionText{
    font-size: 15px;
    font-weight: 300;
    color: gray;
}

.content .courses {
    margin: 40px 120px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.content .courses .course {
    flex-basis: calc(50% - 15px);
    height: 380px;
}


.content .courses .course:hover .circle{
    transform: scale(730);
}

.content .courses .course img{
    width: 50%;
    height: 40%;
    margin-top: 10px;
    border-radius: 50%;
    z-index: 3;
}

.content .courses .course .courseName{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial;
    z-index: 3;
}

.content .courses .course:hover .courseName{
    color: #4828d7;
}

.content .courses .course .courseDescription{
    margin: 15px 0 10px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    color: #aaa7a7;
    z-index: 3;
}

}
